.story {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.story img {
  height: 97rem;
  justify-self: flex-start;
  margin-left: -15px;
}

.story-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.story-container-benefits {
  list-style: none;
  margin-top: 24px;
}

.story-container-benefits__item {
  display: grid;
  grid-template-columns: 100px 1fr;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 64px;
}

.story-container-benefits__item img {
  height: 100px;
}

.story-container-title {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 0px;
}

.story-container-description {
  font-size: 1.4rem;
  font-weight: 200;
  margin-top: 12px;
}

.story-container-benefits__item-container h3 {
  font-size: 2.0rem;
  font-weight: 300;
  margin: 0px;
}

.story-container-benefits__item-container p {
  font-size: 1.4rem;
  font-weight: 200;
}

