* {
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

.headline {
  background-image: url("../assets/headline2.png");
  background-size: cover;
}

.header {
  display: grid;
  width: 80vw;
  grid-template-columns: 1fr 5fr;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 12px;
}

.header-logo {
  height: 65px;
}

.header-container {
  display: grid;
  flex-flow: row nowrap;
  justify-content: space;
  align-items: center;
  list-style: none;
  grid-template-columns: repeat(6, 1fr);
  grid-column-start: 3;
}

.header-container__link a {
  text-decoration: none;
  color: #000;
  font-weight: 100;
  font-size: 1.8rem;
}

.header-container__link {
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
  padding-right: 3.1rem;
}

.header-container__link:hover a {
  border-bottom: 1px solid #F92524;
}

.header-container__link-colored a {
  font-weight: 100;
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
  background-color: #F92524;
  padding: 11px 13px;
  border-radius: 5px;
}

.container {
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.container-image {
  margin-right: -120px;
  height: 97rem;
  justify-self: flex-end;
}

.container-headliner {
  padding-left: 200px;
}

.container-headliner__title {
  font-size: 4.5rem;  
  font-weight: 300;
  margin: 0rem;
}

.container-headliner__title span {
  font-size: 6.5rem;
  font-weight: 900;
}

.container-headliner__divider {
  width: 85px;
  height: 5px;
  background-color: #F92524;
  margin-top: 12px;
}

.container-headliner__description {
  font-size: 1.4rem;
  font-weight: 200;
}

.container-headliner__join {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F92524;
  color: #fff;
  width: 205px;
  padding: 12px 12px 12px 40px;
  border-radius: 8px;
  margin-top: 36px;
  outline: none;
}

.container-headliner__join:hover {
  cursor: pointer;
}
.container-headliner__join span {
  font-size: 1.7rem;
  font-weight: 200;
}

.container-headliner__join image {
  height: 18px;
  background-color: #E91B1A;
}

.story {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.story img {
  height: 97rem;
  justify-self: flex-start;
  margin-left: -15px;
}

.story-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.story-container-benefits {
  list-style: none;
  margin-top: 24px;
}

.story-container-benefits__item {
  display: grid;
  grid-template-columns: 100px 1fr;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 64px;
}

.story-container-benefits__item img {
  height: 100px;
}

.story-container-title {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 0px;
}

.story-container-description {
  font-size: 1.4rem;
  font-weight: 200;
  margin-top: 12px;
}

.story-container-benefits__item-container h3 {
  font-size: 2.0rem;
  font-weight: 300;
  margin: 0px;
}

.story-container-benefits__item-container p {
  font-size: 1.4rem;
  font-weight: 200;
}

@media screen and (max-width: 900px){
  .header-container {
    display: none;
  }
}

@media screen and (max-width: 1004px){
  html {
    font-size: 7px;
  }
}
